.place__title {
    grid-area: title;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: auto auto 0 0;
    color: #FFFFFF;
}
@media screen and (max-width: 1025px) {
    .place__title {
      max-width: 440px;
       }
    }
    @media screen and (max-width: 769px) {
  
        .place__title {
          max-width: 340px;
          font-size: 42px;
          line-height: 46px;
          display: flex;
          align-items: flex-end;
        }
    }
    @media screen and (max-width: 600px) {
        .place__title {
          width: calc(100% - 32px);
          font-size: 32px;
          line-height: 35px;
          margin: 0;
        }
    }