.lead {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 296px);
  }
  @media screen and (max-width: 1025px) {
    .lead {
      margin-top: 48px;
      width: calc(100% - 96px);
    }
  }
  @media screen and (max-width: 769px) {
    .lead {
      width: 100%;
      margin-top: 56px;
     
    }
}
@media screen and (max-width: 600px) {
    .lead {
    margin-top: 42px;
    
    }
}