.cover__subtitle {
    z-index: 2;
    color: #ffffff;
    width: 360px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    
  }
  @media screen and (max-width: 600px) {
    .cover__subtitle {
    margin: 16px 16px 33px 16px;
    width: calc(100% - 32px);
    }
    }