.intro {
    display: flex;
    flex-direction: column;
    width: calc(100% - 296px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 92px;
    justify-content: center;
    
    
  }
  @media screen and (max-width: 1025px) {
    .intro {
      margin-top: 114px;
      width: calc(100% - 96px);
      
    }
  }
  @media screen and (max-width: 769px) {
    .intro {
      margin-top: 88px;
      width: calc(100% - 48px);
    }
}
@media screen and (max-width: 600px) {
    .intro {
    width: calc(100% - 32px);
    margin-top: 64px;
    }
}