.cover {
    width: calc(100% - 96px);
    min-height: 62.5vw;
    height: 62.5vw;
    margin: 12px 48px auto 48px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: url(../../images/cover-trains.jpg);
    flex-direction: column;
    background-size: cover;

  }
  @media screen and (max-width: 1025px) {
    .cover {
      width: 100%;
      margin: 12px 0 0 0;
  
    }
  }
  @media screen and (max-width: 769px) {
    .cover {
      margin: 17px 0 auto 0;
    }
  }
  @media screen and (max-width: 600px) {
  .cover {
    margin: 16px 0 auto 0;
    }
}
